@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 18px;
  background: url("http://i4.cdn-image.com/__media__/pics/8243/bg.gif");
}

h1 {
  color: #363CFF;
  font-size: 20px;

}
button {
  position: absolute;
  bottom: 50%;
  left: 5%;
  padding: 10px 20px;
  background-color: black;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  outline: none;
}

.gameField {
  margin-top: 20px;
  display: inline-block;
  border: 2px solid transparent;
}

.row {
  height: 70px;
}

.cell {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  display: inline-block;
  border: 2px solid blue;
}

.closeCell {
  background-image: none !important;
  background: orchid;
}
.white{
  background: transparent !important;
}