@import "~bootstrap/scss/bootstrap";
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 18px;
  z-index: -1;
  background-size: cover;
}

h1 {
  color: #363CFF;
  font-size: 20px;
  margin: 30px 0;

}
button {
  position: absolute;
  bottom: 50%;
  left: 5%;
  padding: 10px 20px;
  background-color: black;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  outline: none;
}

.gameField {
  display: inline-block;
  background-size: cover;
}

.row {
  height: 70px;
  margin-right: 0;
  margin-left: 0;
}

.cell {
  width: 70px;
  height: 70px;
  background-size: cover;
  display: inline-block;
  border: 1px solid blue;
}

.closeCell {
  background-image: none !important;
  background: orchid;
}
.white{
  background: transparent !important;
  border: 1px solid transparent;
}